body
{
    direction:rtl;
    font-family : "Assistant"
}

input {
    font-family: "Assistant";
}

#container{
    width:960px;
    margin:auto;
    text-align : center;
}

.form-input{
    display:block;
    color : #008185;
    border : 2px solid #008185;
    margin: 3px auto;
    padding: 5px;
    width : 100%;
}

#sendForm{
    background-color : #008185;
    color : white;
    margin-top:5px;
    border : none;
    width : 163px;
    padding : 5px;
    font-weight : bolder;
    border-radius: 6px;
    -webkit-transition: color 0.8s ease;
    -moz-transition: color 0.8s ease;
    -ms-transition: color 0.8s ease;
    -o-transition: color 0.8s ease;
    transition: color 0.8s ease;
}

#sendForm:hover{
    color: rgb(95, 255, 193);
    -webkit-transition: color 0.8s ease;
    -moz-transition: color 0.8s ease;
    -ms-transition: color 0.8s ease;
    -o-transition: color 0.8s ease;
    transition: color 0.8s ease;
}

#form-container{
    max-width: 640px;
    margin: auto;
}

.f-area{
    width: 50%;
    float: right;
}

form{
    text-align : center;
    width : 150px;
    margin: 3px auto;
    margin-top : 10px;
}

h1{
    font-size : 60px;
    margin-top : 40px;
    color : #008185;
}

h2{
    font-size : 30px;
    color : #008185;
    
}

h3{
    margin-top: 30px;
    color: #853300;
    font-weight: normal;
    margin-right: 85px;
    font-size: 16px;
}


p{
    text-align: center;
    margin-top: 30px;
    color: #853300;
    font-weight: bolder;
    font-size: 20px;
}

footer{
    height : 130px;
    background-color : #008185;
    text-align : center;
    display : inline-block;
    width: 100%; 
}

#shrug{
    background-image: url(../images/shrug.jpg);
    background-size: 320px;
    height: 266px;
    background-repeat: no-repeat;
}

#icons{
    display : inline-block;
    text-align : center;
    color : white;
}

#guide{
    background-image : url(../images/guid.png);
    background-size : 100px;
    height : 100px;
    width : 100px;
    float : left;
}

#code{
    background-image : url(../images/code.png);
    background-size : 100px;
    height : 100px;
    width : 100px;
}

#design{
    background-image : url(../images/design.png);
    background-size : 100px;
    height : 100px;
    width : 100px;
}

#logo{
    background-image : url(../images/hit.svg);
    background-repeat : no-repeat;
    background-size: 151px;
    height : 150px;
    width : 230px;
    margin: 0 auto;
    background-position: center;
}

.icon{
    float: left;
    padding: 10px 80px;
}

#color{
    color: #c0500b;
}

#read{
    background-color: #008185;
    width: 120px;
    height: 38px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
}

#read:hover{
    color: rgb(95, 255, 193);
}

#fix-pos{
    width: 960px;
    margin: auto;
}
